<p id="notice"><%= notice %></p>

<h1>視聴済み映画</h1>

<table class="table">
  <thead>
    <tr>
      <th>邦題</th>
      <th>原題</th>
      <th>監督</th>
      <th>視聴日時</th>
    </tr>
  </thead>

  <tbody>
    <% @watched_movies.each do |watched_movie| %>
      <tr>
          <td><%= link_to watched_movie.movie.title_ja, movie_path(watched_movie.movie) %></td>
          <td><%= watched_movie.movie.title %></td>
          <td><%= watched_movie.movie.director.name_ja %></td>
          <td><%= watched_movie.watched_date.to_s(:date_ja) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
