<%= form_for(movie_thumbnail) do |f| %>
  <% if movie_thumbnail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie_thumbnail.errors.count, "error") %> prohibited this movie_thumbnail from being saved:</h2>

      <ul>
      <% movie_thumbnail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :movie_id %>
    <%= f.number_field :movie_id %>
  </div>

  <div class="field">
    <%= f.label :path %>
    <%= f.text_field :path %>
  </div>

  <div class="field">
    <%= f.label :file_size %>
    <%= f.number_field :file_size %>
  </div>

  <div class="field">
    <%= f.label :caption %>
    <%= f.text_field :caption %>
  </div>

  <div class="field">
    <%= f.label :view_status %>
    <%= f.check_box :view_status %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.check_box :status %>
  </div>

  <div class="field">
    <%= f.label :removed %>
    <%= f.check_box :removed %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
