<p id="notice"><%= notice %></p>

<h1>Movie Thumbnails</h1>

<table>
  <thead>
    <tr>
      <th>Movie</th>
      <th>Path</th>
      <th>File size</th>
      <th>Caption</th>
      <th>View status</th>
      <th>Status</th>
      <th>Removed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movie_thumbnails.each do |movie_thumbnail| %>
      <tr>
        <td><%= movie_thumbnail.movie_id %></td>
        <td><%= movie_thumbnail.path %></td>
        <td><%= movie_thumbnail.file_size %></td>
        <td><%= movie_thumbnail.caption %></td>
        <td><%= movie_thumbnail.view_status %></td>
        <td><%= movie_thumbnail.status %></td>
        <td><%= movie_thumbnail.removed %></td>
        <td><%= link_to 'Show', movie_thumbnail %></td>
        <td><%= link_to 'Edit', edit_movie_thumbnail_path(movie_thumbnail) %></td>
        <td><%= link_to 'Destroy', movie_thumbnail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie Thumbnail', new_movie_thumbnail_path %>
