<div class="social-block-wrapper">
    <%= content_tag(:span, "Sign in with SNS") %>
    <%= render 'social_connect', provider: :google, display_name: 'Google+', icon: 'icon-google-plus-sign' %>
    <%= render 'social_connect', provider: :twitter, display_name: 'twitter', icon: 'icon-twitter-plus-sign' %>
    <%= render 'social_connect', provider: :github, display_name: 'github', icon: 'icon-github-plus-sign' %>
    <%= render 'social_connect', provider: :facebook, display_name: 'facebook', icon: 'icon-facebook-plus-sign' %>
</div>
