<%= month_calendar start_date: @start_date, events: programs do |date, programs| %>
    <%= date.mday %>

    <% programs.each do |program| %>
        <div>
            <%= link_to program.title_ja, movie_path(program) %> <br />
            <% if user %>
                <% watched = user.watched_tv_programs.find_or_initialize_by(tv_program_id: program.id) %>
                <div id="<%= "watched_tv_#{watched.tv_program_id}" %>">
                    <%= render "watched/watched_toggle", watched: watched, user: @current_user %>
                </div>

                <% rec = user.recordeds.find_by(tv_program_id: program.id) %>
                <div id="<%= "recorded_#{rec.tv_program_id}" %>">
                    <%= render "recordeds/recorded_toggle", recorded: rec %>
                </div>
            <% end %>
        </div>
    <% end %>
<% end %>
