<p id="notice"><%= notice %></p>

<h1>Actor Thumbnails</h1>

<table>
  <thead>
    <tr>
      <th>Actor</th>
      <th>Path</th>
      <th>File size</th>
      <th>Caption</th>
      <th>View status</th>
      <th>Status</th>
      <th>Removed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @actor_thumbnails.each do |actor_thumbnail| %>
      <tr>
        <td><%= actor_thumbnail.actor_id %></td>
        <td><%= actor_thumbnail.path %></td>
        <td><%= actor_thumbnail.file_size %></td>
        <td><%= actor_thumbnail.caption %></td>
        <td><%= actor_thumbnail.view_status %></td>
        <td><%= actor_thumbnail.status %></td>
        <td><%= actor_thumbnail.removed %></td>
        <td><%= link_to 'Show', actor_thumbnail %></td>
        <td><%= link_to 'Edit', edit_actor_thumbnail_path(actor_thumbnail) %></td>
        <td><%= link_to 'Destroy', actor_thumbnail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Actor Thumbnail', new_actor_thumbnail_path %>
