<p id="notice"><%= notice %></p>

<p>
  <strong>Actor:</strong>
  <%= @actor_thumbnail.actor_id %>
</p>

<p>
  <strong>Path:</strong>
  <%= @actor_thumbnail.path %>
</p>

<p>
  <strong>File size:</strong>
  <%= @actor_thumbnail.file_size %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @actor_thumbnail.caption %>
</p>

<p>
  <strong>View status:</strong>
  <%= @actor_thumbnail.view_status %>
</p>

<p>
  <strong>Status:</strong>
  <%= @actor_thumbnail.status %>
</p>

<p>
  <strong>Removed:</strong>
  <%= @actor_thumbnail.removed %>
</p>

<%= link_to 'Edit', edit_actor_thumbnail_path(@actor_thumbnail) %> |
<%= link_to 'Back', actor_thumbnails_path %>
