<p id="notice"><%= notice %></p>

<h1>視聴済みTV</h1>

<table class="table">
  <thead>
    <tr>
      <th>邦題</th>
      <th>原題</th>
      <th>監督</th>
      <th>視聴日時</th>
    </tr>
  </thead>

  <tbody>
    <% @watched_tv_programs.each do |watched_tv| %>
      <tr>
        <td><%= link_to watched_tv.tv_program.movie.title_ja, movie_path(watched_tv.tv_program.movie) %></td>
        <td><%= watched_tv.tv_program.movie.title %></td>
        <td><%= watched_tv.tv_program.movie.director.name_ja %></td>
        <td><%= watched_tv.watched_date.to_s(:date_ja) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
