<%= movie.thumbnails.each do |thumbnail| %>
    <%= thumbnail.path %>
<% end %>
<%= movie.title_ja %>
<%= movie.title %>
<br />
監督 <%= link_to movie.director.name_ja, movie.director %>
<%= movie.released_year %>
<%= movie.country.name %>
<br />
<% movie.actors.each do |actor| %>
    <%= link_to actor.name_ja, actor %> <br />
<% end %>

<% if user %>
    <div id="<%= "watched_movie_#{movie.id}" %>">
        <%= render "watched/watched_toggle", watched: user.watched_movies.find_or_initialize_by(movie_id: movie.id), user: user %>
    </div>
<% end %>
