<% if policy(@movies).edit? %>
  <%= link_to "edit", new_movie_path %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>邦題</th>
      <th>原題</th>
      <th>監督</th>
      <th>主演</th>
    </tr>
  </thead>


  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= link_to movie.title_ja, movie %></td>
        <td><%= movie.title %></td>
        <td><%= movie.director.name_ja if movie.director %></td>
        <td><%= movie.actors.first.name_ja if movie.actors.count > 0 %></td>
      </tr>
    <% end %>
  </tbody>

</table>
