<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="editName">name</label>
    <%= f.text_field :name, id: "editName", class: "form-control" %> <br />
    <label for="editNickname">nickname</label>
    <%= f.text_field :nickname, id: "editNickname", class: "form-control" %> <br />

    <%= f.fields_for :setting do |s| %>
      <div class="checkbox-inline">
        <%= s.check_box :is_tweet, {class: "checkbox"} %>
        <%= s.label :is_tweet, "watched tv時 tweetする" %>
      </div>
      <br />
      <div class="checkbox-inline">
        <%= s.check_box :is_post_on_facebook, {class: "checkbox"} %>
        <%= s.label :is_post_on_facebook, "watched tv時 facebookに投稿する" %>
      </div>
 
    <% end %>

    <br />
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
